body {
  width: 100%;
  height: 100%;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #dbdbd3;
  overflow-x: hidden;
}

.navbar {
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hamberger i {
  padding: 10px;
}

header {
  width: 100vw;
  height: 6vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

i {
  font-size: 25px;
}

nav {
  width: 100%;
  background-color: #dbdbd3;
  padding: 10px;
}

.nav-links {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 10px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-links li {
  text-align: center;
}

.nav-links li a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  padding: 5px;
  display: block;
  transition: background-color 0.3s ease;
}

.nav-links li a:hover {
  background-color: #c1c1c1;
}

.user-actions {
  position: relative;
  right: 5vw;
  display: flex;
  gap: 15px;
}

.user-actions a {
  text-decoration: none;
  color: #000;
  padding: 5px;
}

.section {
  width: 100%;
  height: 7vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
}

.section1 {
  display: flex;
  justify-content: center;
}

.section h3 {
  color: red;
  text-transform: capitalize;
}

.section1 h3 {
  padding-left: 30px;
}

.section2 {
  display: flex;
  text-align: center;
}

.section2 p {
  padding: 0.7vw 1vw;
  background-color: #c1c1c1;
  margin: 10px;
  text-transform: uppercase;
  text-align: center;
}

.section3 {
  display: flex;
}

.section3 h3 {
  padding-right: 30px;
}

main {
  display: flex;
  padding-left: 20px;
}

.filters {
  width: 250px;
  background-color: #dbdbd3;
  border-right: 1px solid #ccc;
}

.filters h3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.filters ul {
  list-style: none;
  padding: 20px;
}

.filters ul li {
  margin: 5px 0;
  display: flex;
  align-items: center;
}

.filters ul li label {
  margin-left: 10px;
  display: flex;
  align-items: center;
}

.color {
  width: 100%;
  height: 7vh;
  padding-left: 20px;
  padding-right: 20px;
  border: 2px solid #ebeae6;
  box-sizing: border-box;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.color h3 {
  margin: 0;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

input[type="checkbox"] {
  width: 15px;
  height: 15px;
}

.color-box {
  width: 17px;
  height: 17px;
  display: inline-block;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
}

.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  flex-grow: 1;
  padding: 20px;
}

.product-likes {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.product-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.product {
  background-color: #dbdbd3;
  padding: 20px;
  text-align: center;
  border: 1px solid #ccc;
}

.product img {
  max-width: 100%;
  height: auto;
  transition: transform 0.3s ease;
}

.product .bag {
  text-align: left;
  padding-left: 2vw;
  margin: 0;
}

.price {
  text-align: left;
  padding-left: 2vw;
}

.original-price {
  text-decoration: line-through;
  color: #000;
}

.size-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  max-width: 200px;
  margin: 10px auto;
}

.size-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: #dbdbd3;
  border: 1px solid #a2a19c;
  font-size: 14px;
}

#price-list {
  margin: 0;
}

#color-list {
  margin: 0;
}

#category-list {
  margin: 0;
}

.hidden {
  display: none;
}
.login {
  display: none;
}

.product img:hover {
  transform: scale(1.3);
}

/* Media Queries for Responsiveness */
@media (max-width: 1200px) {
  .products {
    grid-template-columns: repeat(2, 1fr);
  }
  .section {
    display: none;
  }
}

@media (max-width: 768px) {
  .navbar,
  .user-actions {
    display: flex;
  }

  nav ul {
    flex-direction: column;
    align-items: center;
  }

  .products {
    grid-template-columns: 1fr;
  }
  .section {
    display: none;
  }
  .filters {
    width: 100%;
    height: 100vh;
    display: block;
  }
}

@media (max-width: 480px) {
  .navbar,
  .section,
  .filters,
  .product {
    flex-direction: column;
    align-items: center;
  }
  .user-actions {
    flex-direction: column;
    display: none;
  }
  .login {
    display: block;
  }
  #hamberger {
    position: absolute;
    left: 0;
    cursor: pointer;
  }
  #search {
    display: none;
  }
  .logo img {
    position: absolute;
    right: 0;
    top: 0;
  }

  nav ul {
    flex-direction: column;
    align-items: center;
    display: none;
  }
  .products {
    position: absolute;
    top: 110%;
  }
  .products {
    grid-template-columns: 1fr;
    gap: 10px;
  }
  .section {
    display: none;
  }
  .filters {
    width: 100%;
    height: 100vh;
    display: block;
  }
}
